.navbar {
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.25);
}

header {
    text-align: center;
    margin-top: 50px;
}


h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

#searchInput {
    width: 50%;
    padding: 12px 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

table {
    width: 80%;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Menjadikan tabel rata tengah */
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* layar ponsel */
@media only screen and (max-width: 600px) {
    /* Tambahkan gaya khusus untuk ukuran layar ponsel di sini */
}
  
/* layar tablet */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Tambahkan gaya khusus untuk ukuran layar tablet di sini */
}
  
/* layar desktop */
@media only screen and (min-width: 1025px) {
   /* Tambahkan gaya khusus untuk ukuran layar desktop di sini */
}
  

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}